<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="The micro-hangouts network">
    <title>Pujas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar navbar-default navbar-static-top" style="text-align:right">
    <div style="padding-top:10px;padding-right: 10px">
        <a href="/default_user" style="font-size: 18px;margin-right: 10px">Inicio</a>
        <a style="font-size: 18px;margin-right: 10px" href="javascript: history.go(-1)">Atrás</a>
        <a style="font-size: 18px" href="{{login_logout_url}}">Cerrar sesion</a>
    </div>
</div>
    <h1 style="text-align: center">Pujas</h1>
    <br>
    <br>
    <h3 style="text-align: center">Valor de la puja más alta -> {{best_bid}} $</h3>
    {%if correct != "" %}
        <h4 id="correctText" style="color: green;text-align: center;">{{ correct }}</h4>
    {%endif %}
    {%if error != "" %}
        <h4 id="errorText" style="color: red;text-align: center;">{{ error }}</h4>
    {%endif %}
    {%if not error %}
        {%if not correct %}
            <br>
        {%endif %}
    {%endif %}

    <div class="row" style="margin-left: 40%">
        <form method="POST" action="/add_bid" class="mb-5 mb-10" >
            <input type="hidden" name="id_sale" value="{{id_sale}}">
            <input type="hidden" name="user_login" value="{{login}}">
            <input type="hidden" name="best_bid" value="{{best_bid}}">
            <div class="col-sm-2" style="text-align:center;">
                <input name="prize_bid" type="number" placeholder="Dinero a pujar" size ="20" class="form-control" required style="max-width:150px;min-width:150px;width:150px;margin: 5px"/>
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn btn-md btn-primary btn-block mt-3" style="max-width:150px;margin: 5px">Crear</button>
            </div>
        </form>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="row">
                <th class="col-sm-2" style="text-align:center;" id="object-name-th">Precio de puja</th>
                <th class="col-sm-2" style="text-align:center;" id="object-description-th">Login</th>
            </tr>
        </thead>
        {% for bid in bids %}
        <tr class="row">
			<td class="col-sm-2" style="text-align:center;">{{bid.prize_bid}} $</td>
			<td class="col-sm-2" style="text-align:center;">{{bid.login_bid}}</td>
		</tr>
        {% else %}
           <h1 style="text-align: center">Esta venta no tiene pujas</h1>
        {% endfor %}
    </table>
<footer class="panel-footer" style="position: fixed;left: 0;bottom: 0;width: 100%;">
    <div>
        Usuario conectado: {{user.nickname()}}
    </div>
</footer>
</body>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
