{% extends "skeleton.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="text-align: center">Menú de inicio</h1>
    </div>
</div>
<div class="section">
    <div class="container ">
        <div class="row">
            <div class="col">
                <div class="card" style="width:20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Mis objetos</h5>
                        <p class="card-text">Listado de tus objetos. Se pueden poner a la venta.</p>
                        <footer>
                            <form method="GET" action="/objects_user">
                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" style="margin:5px">
                                    Ver
                                </button>
                            </form>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width:20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Historial de objetos</h5>
                        <p class="card-text">Listado de todos tus objetos puestos a la venta.</p>
                        <footer>
                            <form method="GET" action="/status_objects_user">
                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" style="margin:5px">
                                    Ver
                                </button>
                            </form>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" style="width:20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Ventas activas</h5>
                        <p class="card-text">Podrás ver las ventas que están activas y pujar por los objetos que
                            ofrecen!!</p>
                        <footer>
                            <form method="GET" action="/sales">
                                <button type="submit" class="btn btn-lg btn-primary btn-block mt-3" style="margin: 5px">
                                    Ver
                                </button>
                            </form>
                        </footer>
                    </div>
                </div>
            </div>
            <div class="container ">
                <div class="row">
                    <div class="col">
                        <div class="card" style="width:20rem;">
                            <div class="card-body">
                                <h5 class="card-title">Historial de ventas</h5>
                                <p class="card-text">Listado de las ventas en las que has participado y las pujas que
                                    has realizado en ellas.</p>
                                <footer>
                                    <form method="GET" action="/sales_user">
                                        <button type="submit" class="btn btn-lg btn-primary btn-block mt-3"
                                                style="margin: 5px">Ver
                                        </button>
                                    </form>
                                </footer>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}