<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="The micro-hangouts network">
    <title>Pujas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="navbar navbar-default navbar-static-top">
      <div id="home-carousel" class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-ex-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navbar-ex-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form id="logout" method="POST" action="/logout">
                  <button id="buttonLogOut" class="btn btn-lg btn-link btn-block mt-3" style="width:150px">Cerrar sesion</button>
              </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="section ">
      <div class="container ">
        <div class="row ">
          <div class="col-md-12 ">
            <h1>Pujas</h1>
          </div>
        </div>
      </div>
    </div>
</body>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
