<!DOCTYPE html>
<html>
<head>
    <meta name="description" content="The micro-hangouts network">
    <title>Subastas</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/templates/login.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container-fluid">
    <div id="form-singin">
        <h1 style="text-align: center;padding-bottom:20px">Uusuario no logeado</h1>
        <a id="buttonFormLogin" href="{{login_logout_url}}" class="btn btn-lg btn-primary btn-block mt-3" >Login</a>
    </div>
</div>
</body>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</html>
