{% extends "skeleton.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container" style="text-align: center">
        <h1 class="display-4" >Mis objetos</h1>
        <small>Nota: No se pueden crear objetos con nombres repetidos o que otros usuarios tengan</small>
    </div>
</div>
<form method="POST" action="/add_object">
    <div class="form-row" style="margin-left:15%">
        <div class="col-3">
            <input name="name_object" type="text" placeholder="Nombre del objeto" class="form-control" required
                   size="40"/>
        </div>
        <div class="col-5">
            <input name="descripcion_object" type="text" placeholder="Descripcion del objeto" class="form-control"
                   size="100" maxlength="100" required/>
        </div>
        <div class="col">
            <button type="submit" class="btn btn-mg btn-primary btn-block" style="width:150px;max-height:50px">Crear
                objeto
            </button>
        </div>
    </div>
</form>
{%if correct != "" %}
<h4 id="correctText" style="color: green;text-align: center;">{{ correct }}</h4>
{%endif %}
{%if error != "" %}
<h4 id="errorText" style="color: red;text-align: center;">{{ error }}</h4>
{%endif %}
{%if not error %}
{%if not correct %}
<br>
{%endif %}
{%endif %}
<table class="table table-striped table-hover">
    {% for object in user_objects %}
    {% if loop.first %}
    <thead>
    <tr class="d-flex">
        <th class="col-sm-2" style="text-align:center;">Nombre</th>
        <th class="col-sm-4" style="text-align:center;">Descripción</th>
        <th class="col-sm-2" style="text-align:center;">Objeto ganado</th>
        <th class="col-sm-2"></th>
        <th class="col-sm-2"></th>
    </tr>
    </thead>
    {% endif %}
    <tr class="d-flex">
        <td class="col-sm-2" style="text-align:center;">{{object.name}}</td>
        <td class="col-sm-4" style="text-align:center;">{{object.description}}</td>
        <td class="col-sm-2" style="text-align:center;">{%if object.win_on_sale %}Sí{%else%}No{%endif%}</td>
        <td class="col" style="text-align:center">
            <form method="POST" action="/form_add_sale">
                <input type="hidden" name="object_name" value="{{object.name}}">
                <button class="btn btn-mg btn-secondary btn-block">Crear venta
                </button>
            </form>
        </td>
        <td class="col" style="text-align:center">
            <form method="POST" action="/delete_object">
                <input type="hidden" name="object_name" value="{{object.name}}">
                <button class="btn btn-mg btn-danger btn-block" >Eliminar</button>
            </form>
        </td>
    </tr>
    {% else %}
    <h1 style="text-align:center;color:red">No tienes objetos</h1>
    {% endfor %}
</table>
{% endblock %}