#registry-container{
	position: relative;
	width: 100%;
	height: 100%;
	background: linear-gradient(#337cbb, white, white, #337cbb);
}
#form-registry{
	max-width: 400px;
	max-height: 500px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
#form-registry .form-control {
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	margin: 0 auto;
}
#form-registry .form-control:focus {
	z-index: 2;
}

#form-registry #h1FormRegistry {
	text-align: center;
	padding-bottom: 20px;
}

#form-registry #login {
	width: auto;
	margin: 10px;
}
#form-registry #password {
	width: auto;
	margin: 10px;
}

#form-registry #buttonFormRegistry {
	width: 150px;
	margin: 0 auto;
}

#buttonBack {
	width: 100px;
	margin: 0 auto;
	border-top: 1px black;
	margin-top: 20px;
}

#errorText {
	color: red;
	text-align: center;
}

#correctText{
	color: green;
	text-align: center;
}

#form-back{
	max-width: 400px;
	max-height: 500px;
	position: absolute;
	top: 72%;
	left: 50%;
	transform: translate(-50%, -70%);
}


#form-back .form-control{
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
	margin: 0 auto;
}

#form-back .form-control:focus {
	z-index: 2;
}