{% extends "skeleton.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="text-align: center">Ventas activas</h1>
    </div>
</div>
{% for sale in sales %}
{% if loop.index0 % 3 == 0 or loop.first %}
<div class="section">
    <div class="container">
        <div class="row">
            {% endif %}
            <div class="col">
                <div class="card" style="width:20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Fecha de cierre: {{sale.finish_date_sale}}</h5>
                        <p>
                            <br><b>Precio inicial de puja:</b> {{sale.initial_sale_prize}} $
                            <br><b>Puja más alta:</b> {{sale.best_bid}} $
                            <br><b>Nombre objeto:</b> {{sale.name_object}}
                            <br><b>Vendedor:</b> {{sale.login_sale}}
                        </p>
                        <footer>
                            <form method="POST" action="/bids">
                                <input type="hidden" name="user_login" value="{{login}}">
                                <input type="hidden" name="id_sale" value="{{sale.id_sale}}">
                                <input type="hidden" name="best_bid" value="{{sale.best_bid}}">
                                <button type="submit" class="btn btn-lg btn-primary btn-block">Ver pujas</button>
                            </form>
                        </footer>
                    </div>
                </div>
            </div>
            {% if (loop.index % 3 == 0 and not loop.first) or loop.last %}
        </div>
    </div>
</div>
{% endif %}
{% else %}
<br>
<br>
<h1 style="text-align:center; color:red">No hay ventas activas</h1>
{% endfor %}
{% endblock %}