{% extends "skeleton.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="text-align: center">Historial de ventas participadas</h1>
    </div>
</div>
{% for sale in sales  %}
{% if loop.first %}
<table class="table table-striped table-hover">
    <thead>
    <tr class="d-flex">
        <th class="col-sm-3" style="text-align:center;">Nombre del objeto de la venta</th>
        <th class="col-sm-2" style="text-align:center;">Fecha final de la venta</th>
        <th class="col-sm-2" style="text-align:center;">Vendedor</th>
        <th class="col-sm-1" style="text-align:center;">Mejor puja</th>
        <th class="col-sm-2" style="text-align:center;">Mejor pujador</th>
        <th class="col-sm-2"></th>
    </tr>
    </thead>
{% endif %}
    <tr class="d-flex">
        <td class="col-sm-3" style="text-align:center;">{{sale.name_object}}</td>
        <td class="col-sm-2" style="text-align:center;">{{sale.finish_date_sale}}</td>
        <td class="col-sm-2" style="text-align:center;">{{sale.login_sale}}</td>
        <td class="col-sm-1" style="text-align:center;">{{sale.best_bid}} $</td>
        <td class="col-sm-2" style="text-align:center;">{%if best_bids_login[loop.index0] != 0 %}{{best_bids_login[loop.index0]}}{% endif %}</td>
        <td class="col-sm-2" style="text-align:center;">
            <form method="POST" action="/bids_user">
                <input type="hidden" id="id_sale" name="id_sale" value="{{sale.id_sale}}">
                <button class="btn btn-mg btn-primary btn-block" style="width:160px">Ver pujas realizadas</button>
            </form>
        </td>
    </tr>
 {% if loop.last %}
</table>
{% endif %}
{% else %}
<h1 style="text-align:center;color:red">No existen ventas en las que has participado</h1>
{% endfor %}
{% endblock %}