{% extends "skeleton.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" style="text-align: center">Mis objetos puestos a la venta</h1>
    </div>
</div>
<table class="table table-striped table-hover">
    {% for object in user_objects %}
    {% if loop.first %}
    <thead>
    <tr class="d-flex">
        <th class="col-sm-1" style="text-align:center;">Nombre</th>
        <th class="col-sm-4" style="text-align:center;">Descripción</th>
        <th class="col-sm-2" style="text-align:center;">Objeto ganado</th>
        <th class="col-sm-2" style="text-align:center;">Estado objeto</th>
        <th class="col-sm-2" style="text-align:center;">Fecha finalización venta</th>
        <th class="col-sm-1" style="text-align:center;">Mejor puja</th>
    </tr>
    </thead>
    {% endif %}
    <tr class="d-flex">
        <td class="col-sm-1" style="text-align:center;">{{object.name}}</td>
        <td class="col-sm-4" style="text-align:center;">{{object.description}}</td>
        <td class="col-sm-2" style="text-align:center;">{%if object.win_on_sale %}Sí{%else%}No{%endif%}</td>
        {% for object_status in sales_objects_active if object.name == object_status.name_object%}
        <td class="col-sm-2" style="text-align:center;color: green">
            En venta
            {% else %}
        <td class="col-sm-2" style="text-align:center;color: red">
            Finalizada venta
            {% endfor %}
        </td>
        <td class="col-sm-2" style="text-align:center;">
            {% for object_status in sales_objects if object.name == object_status.name_object%}
            {{object_status.finish_date_sale}}
            {% endfor %}
        </td>
        <td class="col-sm-1" style="text-align:center;">
            {% for object_status in sales_objects if object.name == object_status.name_object%}
            {{object_status.best_bid}}
            {% endfor %}
        </td>
    </tr>
    {% else %}
    <h1 style="text-align:center;color:red">El usuario no tiene objetos puestos a la venta</h1>
    {% endfor %}
</table>
{% endblock %}